<!DOCTYPE html>
<html>
<head>
  <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
      .disclaimer{
        color:#999;
        margin:20px auto;
        text-align:center;
        font:400 12px Roboto,Helvetica,Arial,sans-serif
      }
      button, .yellow {color:black!important;}
      header {
        color: #999;
        position: absolute;
        background: rgba(26,29,37,1);
        top: 0;
        left: 0;
        height: 90px;
        text-transform: uppercase;;
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-size: 20px;
      }
      footer {
      	color: #999;
      	background: rgba(26,29,37,1);
      	left: 0;
      	bottom: 0;
      	height: 40px;
      	width: 100%;
      	padding: 10px 0;
        margin-top: 50px;
      	font-size: 12px;
      }
      #form {
        padding: 25px;
        margin: 155px auto 155px;
        background: #fff;
        max-width: 480px;
      }
      body {
        background: rgba(0,0,0,.1);
        height: auto;
      }
      #div1 {
        width: 385px;
        height: 100px;
        background: rgba(0,0,0,.03);
        border: 2px dashed grey !important;
        margin-bottom: 15px;
    }
    .card-action {
      margin-left: 20px;
    }
    #drag-title {
      margin-left: 15px;
      font-size: 110%;
    }
    input[type="file"] {
      position: relative;
      width: 100%;
      height: 150px;
      background: rgba(0,0,0,.03);
      border: 2px dashed grey !important;
      outline: none;
      font-size: 0px;
      cursor: pointer;
      overflow: hidden;
      margin: 0px;
      padding: 0px;
    }
    input[type="file"]:hover {
      background: #dadae3;
    }
    input[type="file"][data-text-enabled="1"]:before {
      content: attr(data-text)!important;
    }
    input[type="file"][multiple]:before {
      content: "Drag and drop files here";
    }
    input[type="file"]:before {
      content: "Drag and drop files here";
      display: block;
      font-size: 20px;
      color: #999;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      margin-top: 50px;
    }
    input[type="file"]:active {
      background: #004184;
    }

    
    </style>
  </head>
  <body>
      <header>
          <a href="/profile" >
              <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="Pinterest" width="70" height="70" />
          </a>
      </header>
      <form action="/upload" method="POST" enctype="multipart/form-data" class="main" id="form" novalidate="novalidate">
        <div id="forminner">
          <div class="row">
            <div class="col s12">
              <h5 class="center-align teal-text">Upload Files to Pinterest</h5>
            </div>

            <div class="input-field col s12">
              <input id="name" type="text" name="filecaption" class="validate" required="" aria-required="true">
              <label for="name">Caption Name</label>
            </div>
          </div>
          <div class="row">
              <input id="file" type="file" name="file">
          </div>
          
          <div class="row" style="margin-bottom:0!important;">
              <div class="input-field col s6 offset-s4">
                  <button type="submit" class="waves-effect yellow btn submit-btn">Submit</button>
              </div>
          </div>
        </div>
  
        <div id="success" style="display:none">
          <h5 class="left-align teal-text">File Uploaded</h5>
          <p>Your file has been successfully uploaded.</p>
        </div>
      </form>
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script>
      var file,
          reader = new FileReader();

      reader.onloadend = function(e) {
        if (e.target.error != null) {
          showError("File " + file.name + " could not be read.");
          return;
        } else {
          google.script.run
            .withSuccessHandler(showSuccess)
            .uploadFileToGoogleDrive(e.target.result, file.name, $('input#name').val(), $('input#email').val());
        }
      };

      function showSuccess(e) {
        if (e === "OK") {
          $('#forminner').hide();
          $('#success').show();
        } else {
          showError(e);
        }
      }

      function submitForm() {

        var files = $('#files')[0].files;

        if (files.length === 0) {
          showError("Please select a file to upload");
          return;
        }

        file = files[0];

        showMessage("");

        reader.readAsDataURL(file);

      }

      function showError(e) {
        $('#progress').addClass('red-text').html(e);
      }

      function showMessage(e) {
        $('#progress').removeClass('red-text').html(e);
      }

      function allowDrop(ev) {
          ev.preventDefault();
      }

      function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
      }

     function drop(ev) {
          ev.preventDefault();
          var data = ev.dataTransfer.getData("text");
          ev.target.appendChild(document.getElementById(data));
      }

      document.addEventListener("change", function(t) {
	e = t.target;
	if (e.tagName == "INPUT" && e.type.toLowerCase() == "file") {
		if (e.files.length > 0) {
			if (e.files.length == 1) {
				e.setAttribute('data-text-enabled', 1);
				e.setAttribute('data-text', '1 File selected: "'+e.files[0].name+'"');
			} else {
				e.setAttribute('data-text-enabled', 1);
				e.setAttribute('data-text', e.files.length + ' File' + (e.files.length > 1 ? 'S' : '') + ' selected');
			}
		} else {
			e.setAttribute('data-text-enabled', 0);
		}
	}
});


    </script>

  </body>

</html>
